@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Edu+NSW+ACT+Foundation:wght@500;600&family=Lato:wght@300&family=Poppins:ital,wght@1,700&family=Raleway:ital,wght@0,100;1,600&family=Tilt+Prism&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.btn {
  font-family: 'Poppins', sans-serif;
}
.logo
{
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  height: 72px;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 24px;
  list-style: none;
}

nav ul li {
  text-decoration: none; 
}

nav ul li a {
  text-decoration: none; 
  color: inherit; 
}

button {
  height: 32px;
  background-color: rgb(246, 0, 0);
  color: white;
  font-weight: 500;
  padding: 4px 24px;
  cursor: pointer;
}
.second-container
{
  display: flex;
  max-width: 1260px;
  margin: 0 auto;
  align-items: center;
  height: calc(100vh-72px);
}
.shoes-content h1
{
  margin-top: 30px;
  font-size: 108px;
  line-height: 110px; 
}
.shoes-content p
{
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 400px;
}
.shoes-btn 
{
  display: flex;
  gap: 40px; 
  cursor: pointer;
}
.primary-btn
{
  height: 40px;
  background-color: rgb(246, 0, 0);
  color: white;
  font-weight: 500;
  width: 180px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  cursor: pointer;
  
}
.secondary-btn
{
  background-color: transparent;
  height: 40px;
  color: black;
  font-weight: 500;
  padding: 4px 24px;
  width: 180px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  font-size: 20px;
  border: 3px solid gray;
  
}
.brand-ico
{
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.shoes-img
{
  margin-top: 90px;
  height: 500px;
  width: 1500px;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: flex-end;
  cursor: pointer; 

}
